.container {
  padding-left: 3em;
  padding-right: 2em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.section-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2em;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.text-container p {
  font-size: 1rem;
}

.img {
  width: 100%;
  align-self: center;
  justify-self: center;
}
