.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  row-gap: 2em;
  column-gap: 2em;
  padding-inline: 2em;
  margin-top: 6em;
  margin-bottom: 2em;
}

.img {
  width: 100%;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: thin solid var(--txt);
  border-left: none;
  font-size: 0.8rem;
  padding: 0.25em;
}

.title {
  font-weight: bold;
}
