.container {
  padding-inline: 2em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2em;
}

.img {
  width: 100%;
  aspect-ratio: 1;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 10px var(--border);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--bg-dark);
  border-left: none;
  font-size: 0.8rem;
  padding: 0.25em;
}

.title {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 2em;
    padding-inline: 1em;
  }

  .title {
    font-size: 2rem;
  }

  .item-container {
    grid-template-columns: 1fr;
  }
}
